* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../background/bookshelf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.container {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(235, 153, 115, 0.6); /* Semi-transparent colour background */
    margin: 20px;
    animation: fadeInContainer 1.5s ease-out;
    border-radius: 20px; /* Smooth edges for the outer container */
}


.t_body{
    border-radius: 15px;
}

@keyframes fadeInContainer {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


tr:hover {
    background-color: #924e4e;
}

.book {
    background-color: rgba(214, 131, 131, 0.555); /* Semi-transparent colour background for the books */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    transition: background-color 0.05s ease;
    position: relative;
}

.book:hover {
    background-color: rgba(235, 153, 115, 0.6); /* Semi-transparent colour background on hover */
    backdrop-filter: blur(2px);
}

.rank {
    color: black;
    background-color: rgba(214, 131, 131, 0.555);
}

.cover {
    text-align: center;
    background-color: rgba(214, 131, 131, 0.555);
}

.details{
    background-color: rgba(214, 131, 131, 0.555);
}

.cover img {
    width: 100px;
    height: auto;
}

.description {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s; /* Add transition for smooth opacity change */
}

.book:hover .description {
    opacity: 1; /* Show description on hover */
}

tr:nth-child(even) {
    /* Background color for even rows */
    background-color: rgba(253, 253, 253, 0.521);
}